<h1 class="text-center">STATISTIKA</h1>

<br/>

<div class="container-fluid bg-light">
  <div class="col-md-12 text-center">
    <div class="row">
      <div class="col">
<%= line_chart ([{name: '0.3 ml',data: @hash_zerothree},{name: '0.5 ml',data: @hash_zerofive}]),discrete: true,
               title: 'Vakcinēto cilvēku skaits atkarībā no vakcīnas daudzuma', download: { filename: 'coolGraph' },
               xtitle: 'Cilvēku vecums', ytitle: 'Vakcinēto skaits', height: '500px'%>
        <h6><%= Plot.where(plot_name: 'Graph1').first.plot_updated_time.strftime("%H:%M %d.%m.%Y") %></h6>
      </div>
    </div>


  </div>

</div>

<%= render :partial => 'commentbox', :locals => {:plot_render => 1} %>

<br/>
<br/>
<br/>

<div class="container-fluid bg-light">
  <div class="col-md-12 text-center">
    <div class="row">
      <div class="col">
<%= line_chart ([{name: 'S',data: @hash_sex_s},{name: 'V',data: @hash_sex_v}]),discrete: true,
               title: 'Vakcinēto cilvēku skaits atkarībā no dzimuma', download: { filename: 'coolGraph2' },
               xtitle: 'Cilvēku vecums', ytitle: 'Vakcinēto skaits', height: '500px', colors: ["#ab1fb8","#00ed2b"]%>
      </div>
    </div>
  </div>
</div>
<%= render :partial => 'commentbox', :locals => {:plot_render => 2} %>

<br/>
<br/>
<br/>

<div class="container-fluid bg-light">
  <div class="col-md-12 text-center">
    <div class="row">
      <div class="col">
<%= pie_chart (@hash_indikacijas), donut: true, title: 'Vakcinēto cilvēku skaits atkarībā no vakcinācijas cēloņa',
              download: { filename: 'coolGraph3' }, height: '700px' %>
      </div>
    </div>
  </div>
</div>
<%= render :partial => 'commentbox', :locals => {:plot_render => 3} %>

<br/>
<br/>
<br/>

<div class="container-fluid bg-light">
  <div class="col-md-12 text-center">
    <div class="row">
      <div class="col">
        <%= bar_chart (@hash_vakcina), title: 'Vakcinēto skaits atkarībā no izmantojamas vakcīnas ',
                      download: { filename: 'coolGraph4' }, height: '500px' %>
      </div>
    </div>
  </div>
</div>
<%= render :partial => 'commentbox', :locals => {:plot_render => 4} %>

<br/>

<div class="container-fluid bg-light">
  <div class="col-md-12 text-center">
    <div class="row">
      <div class="col">
<%= link_to 'Skatīties tālāk', home_index_2_path, class: "btn btn-info", data: { turbolinks: "false"} %>
      </div>
    </div>
  </div>
</div>

<br/>
<br/>

