
<p>
  <strong>Vakcinācijas iestādes kods:</strong>
  <%= @vacin.iestade_id %>
</p>

<p>
  <strong>Vakcinācijas iestādes nosaukums:</strong>
  <%= @vacin.iest_nos %>
</p>

<p>
  <strong>Vakcinācijas datums YYYY-MM-DD:</strong>
  <%= @vacin.vacin_date %>
</p>

<p>
  <strong>Vakcīnas veids:</strong>
  <%= @vacin.vacin_type %>
</p>

<p>
  <strong>Preparāts:</strong>
  <%= @vacin.preparat %>
</p>

<p>
  <strong>Vakcinācijas posms:</strong>
  <%= @vacin.vacin_posms %>
</p>

<p>
  <strong>Vakcīnas kārtas numurs:</strong>
  <%= @vacin.vacin_kartas_num %>
</p>

<p>
  <strong>Preparāta daudzums ml:</strong>
  <%= @vacin.prep_daudz %>
</p>

<p>
  <strong>Vakcīnas ievadīšanas veids:</strong>
  <%= @vacin.vakcin_ievade %>
</p>

<p>
  <strong>Indikācijas vakcinācijai:</strong>
  <%= @vacin.indik_vakcin %>
</p>

<p>
  <strong>Vakcinētās personas vecums:</strong>
  <%= @vacin.pers_age %>
</p>

<p>
  <strong>Vakcinētās personas dzimums:</strong>
  <%= @vacin.pers_dzimums %>
</p>

<p>
  <strong>Vakcinēto personu skaits:</strong>
  <%= @vacin.pers_skaits %>
</p>

<% if @vacin.user == current_user %>
  <%= link_to 'Edit', edit_vacin_path(@vacin) %> |
  <% end %>
  <%= link_to 'Back', vacins_path %>

